
.recentlanch-card{
    /* text-align: center; */
    background-color: #f8f8f8;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.recent-lanch-mobile-name{
    color:rebeccapurple;
}
.recent-lanch-mobiles-sections{
    display:flex;
    flex-wrap: wrap;
}

  .recentlaunches{
    display: flex;
    padding: 1rem 0rem;
    height: calc(100% - 50px);
  }

  .recentlaunches .recentlanch-card{
    margin: 0rem 1rem;
    display: flex;
    background-color: rgba(255, 255, 255, .9);
  }

.recentlaunch-mobile-spec{
    width: 60%;
    margin: 1rem 2rem;
}

.recentlaunch-mobile-spec .rating{
    font-weight: 600;
    font-size: 16px;
}

  .mobile-carousel-item{
      height: 400px;
      background-image: url('../../image/bannerMobile.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0px 0px;
  }

  .recentlaunch-mobile-imgWrap{
      padding: 1rem;
      height: 300px;
      width: 35%;
  }

  .recentlaunch-mobile-imgWrap img{
    width:100%;
    height: 100%;
}

.recent-launch-hdr{
    font-weight: 600;
    font-size: 3rem;
    background-color: maroon;
    color: white;
    margin: 0px;
    padding: 20px;
}

.carousel-control-next,
.carousel-control-prev{
    width: 5%;
    background-color:rgba(0,0,0,0.20);
}

.carousel-control-next:hover,
.carousel-control-prev:hover{
    background-color:rgba(0,0,0,0.6);
}