.filter-options
{
    display:flex;
    flex-direction: column;
    width:100px;
}
.filter-option-button
{
    margin:5px;
}
.filter-button
{
    float:right;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .model-popup {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The close-filter Button */
  .close-filter {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-filter:hover,
  .close-filter:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .content {
    display: flex;
    flex-direction: column;  
    font-family: 'Lato';
    max-width: 100%;
    font-size: 20px;
    letter-spacing: 4px;
    display: none;
    border-top: none;
    text-align: center;
  }
  .filter-submit{
      float: right;
  }
  .ram-filter-check-temp{
    display:none;
    
  }
  .brand-filter-check-temp{
    display:none;

  }
  .ram-filter-temp
  {
      display:none;
  }
  .filter-section
  {
      display: flex;
  }
  .mycheck{
      display: flex;
      width: 50%;
      flex-direction: column;

  }
  .Container2
  {
      width:50%;
  }
  .check-box-container
  {
    display: flex;
  }